body{
  background:url(img/pokemon.jpg);
}
.poke{
  text-size-adjust:100px;
  margin: 0 0 0 0;
    height: 80px;
    width: 100%;
    padding-top:absolute;
    position: center;
    text-align: center;
    background:url(img/imagen.jpg);
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
table, th, td {
    margin: auto;
    text-align: center;
    position: center;
    border:2px solid black;
    background-color: rgb(241, 241, 197);
}
.pokemon{
  height: auto; width: auto;
}

